{{ 'section-video.css' | asset_url | stylesheet_tag }}

<div class="section-video__wrapper">
  <video autoplay loop muted playsinline width="100%" {% if section.settings.height != 'use_image' %} style="top: 0;  left: 0;  width: 100%;  height: auto"{% endif %}>
    <source src="{{ section.settings.video_url }}" type="video/mp4" id="{{ section.id }}">
  </video> 
  <div class="video-cover__image">
    {% if section.settings.cover_image != blank %}
      <img src="{{ section.settings.cover_image | img_url: "master" }}" width="{{ section.settings.cover_image.width }}" height="{{ section.settings.cover_image.height }}" alt="video cover image">
    {% endif %}
  </div>
  <div class="play-button">
    {% render 'icon-play' %}
  </div>
</div>
  
<script>
  document.querySelector('.play-button').addEventListener('click', function() {
    console.log("click btn==>");
    document.querySelector('.video-cover__image').classList.add('hidden');
    this.classList.add('hidden');
    
  })
</script>

{% schema %}
  {
    "name": "t:sections.section-video.name",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "t:sections.section-video.settings.video_url.label",
        "default": "https://cdn.shopify.com/s/files/1/2018/8867/files/ice.mp4"
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "t:sections.section-video.settings.cover_image.label"
      }      
    ],
     "presets": [
      {
        "name": "t:sections.section-video.presets.name"
      }
    ]
  }
{% endschema %}

