{% style %}
  .section-text-image__wrapper {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 1025px) {
      .section-text-image__wrapper {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
  }
{% endstyle %}

{{ 'section-text-image.css' | asset_url | stylesheet_tag }}
<div class="section-text-image page-width">
    <div class="section-text-image__wrapper">
        <div class="section-text-image">
            <div class="section-text-image__image__wrapper">
                <div class="section-text-image__image">
                    {% if section.settings.image != blank %}
                        <img
                        src="{{ section.settings.image | img_url: "master" }}"
                        alt="image"
                        width="{{ section.settings.image.width }}"
                        height="{{ section.settings.image.height }}"
                        >                        
                    {% endif %}
                </div>
            </div>
        </div>        
        <div class="section-text-image__body">
            <div class="section-text-image__content">
                {% if section.settings.title != blank %}
                    <h2 class="section-title">{{ section.settings.title }}</h2>
                {% endif %}
                <div class="section-content__wrapper">
                    {% for block in section.blocks %}
                        <div class="section-content">
                            <span class="common-text">{{ block.settings.common_text_up }}</span>
                            <span class="italic-text">{{ block.settings.italic_text }}</span>
                            <span class="common-text">{{ block.settings.common_text_back }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



  {% schema %}
{
  "name": "t:sections.section-text-image.name",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "t:sections.section-text-image.settings.title.label",
        "default": "Our story"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.section-text-image.settings.image.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
        "type": "text",
        "name": "t:sections.section-text-image.blocks.text.name",
        "settings": [
            {
                "type": "text",
                "id": "common_text_up",
                "label": "t:sections.section-text-image.blocks.text.settings.common_text_up.label",
            },
            {
                "type": "text",
                "id": "italic_text",
                "label": "t:sections.section-text-image.blocks.text.settings.italic_text.label",
            },
            {
                "type": "text",
                "id": "common_text_back",
                "label": "t:sections.section-text-image.blocks.text.settings.common_text_back.label",
            }
        ]
    }
  ],  
  "presets": [
    {
      "name": "t:sections.section-text-image.presets.name",
      "blocks": [
        {
            "type": "text"            
        },
        {
            "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
